$prime-color: #134B57;
$prime-color-dark: darken($prime-color, 10%);
$prime-color-darkest: darken($prime-color, 20%);

* {
  font-family: 'Muli', sans-serif;
}

.App {
  text-align: center;
  .route-container {
    margin-top: 60px;
    &.scrolled {
      margin-top: 60px;
    }
    @media (min-width: 768px) {
      margin-top: 140px;
    }
  }
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

.custom-btn {
  width: 100px;
  font-size: 14px;
}

.header.navbar-inverse {
  z-index: 999;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-transition: height .5s;
  transition: height .5s;
  .navbar-header {
    padding-top: 14px;
    -webkit-transition: padding .5s;
    transition: padding .5s;
    a {
      -webkit-transition: font-size .5s;
      transition: font-size .5s;
    }

  }
  @media (min-width: 768px) {
    height: 120px;
  }
  @media (max-width: 767px) {
    .navbar-header {
      width: 100vw;
      padding-top: 0;
    }
  }
  background-image: none;
  background-color: $prime-color;
  border-radius: 0;
  .navbar-header, .navbar-collapse .navbar-right {
    a {
      color: white;
    }
    .active a {
      background: none;
      border-bottom: 2px solid #fff;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
    }
    .navbar-brand {
      font-size: 32px;
    }
  }
  .navbar-collapse.in, .navbar-collapse.collapsing {
    text-align: right;
  }
  .navbar-collapse.in, .navbar-collapse.collapsing {
    height: calc(100vh - 50px);
    .navbar-nav {
      height: calc(100% - 15px);
      margin-top: 0;
      li {
        height: 25%;
        .mail-link {
          text-align: center;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
  .mail-link {
    padding: 15px;
    cursor: pointer;
    -webkit-transition: padding .5s;
    transition: padding .5s;
  }
  .fa {
    font-size: 25px;
    color: #fff;
    -webkit-transition: font-size .5s;
    transition: font-size .5s;
  }
}

@media (min-width: 768px) {
  .header.navbar-inverse.scrolled {
    height: 60px;
    .navbar-header {
      padding: 0;
      a {
        font-size: 24px;
      }
    }
  }
  .navbar-collapse.scrolled {
    .fa {
      font-size: 20px;
    }
    .mail-link {
      padding: 10px;
    }
    span {
      display: none;
    }
  }
}

.homepage {
  background-image: url('./assets/photos/IMG_9661-min.JPG');
  background-size: contain;
  background-repeat: no-repeat;
  height: 66.7vw;
  width: 100vw;
  margin-left: -15px;
  margin-top: -20px;
  @media (max-width: 600px) {
    background-image: url('./assets/photos/IMG_9661_tablet-min.JPG');
    height: 120vw;
  }
  @media (max-width: 400px) {
    background-image: url('./assets/photos/IMG_9661_mobile-min.JPG');
    height: 175vw;
  }
  .bio {
    text-align: left;
    background: #000;
    opacity: .6;
    color: #fff;
    font-size: 15px;
    border-radius: 10%;
    width: 75%;
    float: right;
    padding: 20px;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.experience-section {
  margin-bottom: 20px;
  border-top: 2px solid #42A49B;
  border-bottom: 2px solid #42A49B;
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
    .reference {
      margin: 0 auto;
      float: none;
      text-align: left;
      span {
        float: right;
      }
    }
  }
  .job-container {
    width: 24vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3, h4, h5, a {
      color: #A396FA;
    }
    h3 {
      margin-top: 0;
    }
    a:hover, &:hover {
      cursor: pointer;
    }
    &:hover {
      border: 2px solid #ddd;
      border-radius: 10%;
    }
    &.active {
      background: #ddd;
      border-radius: 10%;
      .experience-item {
        background-color: #ddd;
      }
    }
    .experience-item {
      width: 75%;
      margin: 0 auto;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      .experience-info {
        display:none;
      }
      &:hover {
        .experience-info {
          display: block;
        }
      }
      &.nfx {
        background-color: #A27796;
      }
      &.ascendify {
        background-color: #42A49B;
      }
      &.ocs {
        background-color: #A3ABE0;
      }
      &.adteach {

      }
      &.pipeline {
        background-color: #176F96;
      }
    }
    @media (max-width: 400px) {
      padding: 0;
    }
  }
  .experience-info-container {
    margin: 20px 0;
    h1, h2, h3, h4, h5, a {
      color: #176F96
    }
    .info-box {
      max-width: 400px;
      text-align: left;
      margin: 0 auto;

    }
  }
}
.photography .scroll-box {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  right: 17px;
  i {
    font-size: 45px;
    color: #fff;
  }

}
.gallery-modal.fade.in.modal .modal-dialog {
  width: 95vw;
  .modal-photo {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
